/* Primo esercizio */
.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background-color 1.5s linear;
}

.ex-1-square:hover{
  background-color: red;
}
/* Secondo esercizio */
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s ease;
}

.ex-2-square:active{
  width: 100%;
}

/* Terzo esercizio */
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 0.3s linear;
}

.ex-3-square:hover{
  border-radius: 50%;
}

/* Quarto esercizio */

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: opacity 1s ease;
}

.ex-4-square:hover{
  opacity: 0;
}

/* Quinto esercizio */

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: transform 1s ease;
}

.ex-5-square:hover{
  transform: scale(2);
}

.ex-5-square:active{
  transform: scale(0.5);
}

/* Esecizi con immagini */
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

/* Esercizio 6 */

.ex-6-img:hover{
  filter: grayscale(1);
}

/* Esercizio 7 */

.ex-7-img{
  transition: filter 2s ease;
}

.ex-7-img:hover{
  filter: grayscale(1) sepia(30%);
}

/* Esercizio 8 */

.ex-8-img{
  transition: all 2s ease;
}

.ex-8-img:hover{
  filter: grayscale(0.6) sepia(50%);
  border-radius: 20px;
}

/* Esercizio 9 */

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: all 2s ease;
}

.ex-9-img:hover{
  filter: grayscale(0.6) sepia(40%);
  border-radius: 20px;
  transform: scale(1.45);
  margin: 50px 90px;
}

/* Esercizio 10 */
.ex-10-icon {
    font-size: 60px;
    animation-name: turn;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1000ms;
}

@keyframes turn{
 0%{
   transform: rotate(0deg);
 }
 100%{
   transform: rotate(-360deg);
 }

}

/* Esercizio 11 */

.ex-11-icon {
    font-size: 60px;
}

.ex-11-icon:hover {
  animation-name: turn2;
  animation-iteration-count: 1;
  animation-duration: 1.5s;
}

@keyframes turn2{
 0%{
  transform: rotate(0deg);
}

75%{
 transform: rotate(270deg);
}

100%{
 transform: rotate(0deg);
}
}

/* Esercizio12 */

.ex-12-button:hover .ex-12-top-white{
  animation-name: altodod;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes altodod {

  0%{
    left:10%;
  }
  50%{
    left: calc(100% - 60px)
  }
  100%{
    left:10%;
  }

}


.ex-12-button:hover .ex-12-bottom-white{
  animation-name: bassodod;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes bassodod {

  0%{
    right: 20%;
  }

  50%{
    right: calc(100% - 60px);
  }

  100%{
    right: 20%;
  }

}

/* Esercizio 13 */

.ex-13-button:hover .ex-13-top-white{
  animation-name: altotred;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes altotred {

  0%{
    left: 10%;
  }

  25%{
    left: 100%;
    top: -10px;
  }

  50%{
    left: 100%;
    top: 100%;
  }

  75%{
    left: -10px;
    top: 100%;
  }

  90%{
    left: -10px;
    top: -10px;
  }


  100%{
    left: 10%;
  }
}



.ex-13-button:hover .ex-13-bottom-white{
  animation-name: bassotred;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes bassotred {

  0%{
    right: 20%;
  }

  25%{
    right: 80%;
    bottom: -10px;
  }

  50%{
    right: 80%;
    bottom: 100%;
  }

  75%{
    right: -10px;
    bottom: 100%;
  }

  90%{
    right: -10px;
    bottom: 0;
  }


  100%{
    right: 20%;
  }
}




.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
